<ion-view class="home-ctrl" hide-back-button="true" title="<img src='img/logo.svg'/>">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button button-icon icon ion-ios7-infinite" ng-click="showCategories()"></button>
  </ion-nav-buttons>
  <div class="camera-btn">
    <p>New</p>
    <i class="icon ion-ios7-compose-outline" ng-click="showAddProduct()"></i>
  </div>
  <ion-content class="has-header" overflow-scroll="true">
    <ion-scroll delegate-handle="homeScroll" style="height: 506px">
      <ion-refresher
        pulling-text="Pull to refresh..."
        on-refresh="doRefresh()">
      </ion-refresher>
      <div class="col col-50 product" ng-repeat="product in products track by $index">
        <div class="item item-image">
          <a href="#/app/product/{{product.id}}">
            <img ng-src="{{ MEDIA_URL + '/' + product.userId + '/' + PRODUCT_THUMB_SIZE + '/' + product.images[0] }}" />
          </a>
        </div>
        <div class="info">
          <span class="like">
            <i class="icon ion-ios7-heart-outline"></i> 0
          </span>
          <span class="comment">
            <i class="icon ion-ios7-chatbubble-outline"></i> 1k
          </span>
          <span class="price">
          ${{product.price || 0}}
          </span>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
