<ion-slide-box pager-click="changePage(index)" class="intro">
  <ion-slide>
    <div class="box">
      <div class="logo row">
        <div class="col-80 col-offset-10">
          <img src="img/logo.svg"/>
        </div>
      </div>
      <div class="feature">
        The Resale Shopping App:<br/>
        Buy &amp; sell fashion,<br/>
        electronics, jewelry, console<br/>
        games, new, pre-owned &amp;<br/>
        hand-made items<br/>
      </div>
      <div class="control">
        <button class="button button-light" ng-click="next()">
          Next
        </button>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box">
      <div class="logo row">
        <div class="col-80 col-offset-10">
          <img src="img/logo.svg"/>
        </div>
      </div>
      <div class="feature">
        The Resale Shopping App:<br/>
        Buy &amp; sell fashion,<br/>
        electronics, jewelry, console<br/>
        games, new, pre-owned &amp;<br/>
        hand-made items<br/>
      </div>
      <div class="control">
        <button class="button button-light" ng-click="next()">
          Next
        </button>
      </div>
    </div>
  </ion-slide>
  <ion-slide>
    <div class="box">
      <div class="logo row">
        <div class="col-80 col-offset-10">
          <img src="img/logo.svg"/>
        </div>
      </div>
      <div class="feature">
        The Resale Shopping App:<br/>
        Buy &amp; sell fashion,<br/>
        electronics, jewelry, console<br/>
        games, new, pre-owned &amp;<br/>
        hand-made items<br/>
      </div>
      <div class="control">
        <a class="button button-light" href="#/app/home">
          Get started
        </a>
      </div>
    </div>
  </ion-slide>
</ion-slide-box>