<ion-view class="search-ctrl" title="Search">
  <ion-content class="has-header" overflow-scroll="true">
    <ion-scroll delegate-handle="searchScroll" style="height: 506px">
      <div class="list search-box">
        <div class="item item-input-inset">
          <label class="item-input-wrapper">
            <input type="text" placeholder="Search..." ng-model="query">
          </label>
          <button class="button button-small" on-tap="doSearch(query)">
            Submit
          </button>
        </div>
      </div>
      <div class="col col-50 product" ng-repeat="product in products track by $index">
        <div class="item item-image">
          <a href="#/app/product/{{product.id}}">
            <img ng-src="{{ MEDIA_URL + '/' + product.user.id + '/' + PRODUCT_THUMB_SIZE + '/' + product.images[0].filename }}" />
          </a>
        </div>
        <div class="info">
          <span class="like">
            <i class="icon ion-ios7-heart-outline"></i> {{product.likes.length}}
          </span>
          <span class="comment">
            <i class="icon ion-ios7-chatbubble-outline"></i> {{product.comments.length}}
          </span>
          <span class="price">
          ${{product.price || 0}}
          </span>
        </div>
      </div>
    </ion-scroll>
  </ion-content>
</ion-view>
