.nav-bar {
  .title img {
    height: 80%;
    vertical-align: middle;
  }
}

.home-ctrl {
  .product {
    float: left;
    .info {
      background: #fff;
      span {
        line-height: 24px;
        padding-left: 5px;
        color: #888;
        font-size: 12px;
        .icon {
          font-size: 15px;
        }
      }
      .price {
        float: right;
        padding-right: 5px;
        font-weight: bold;
      }
    }
  }
  .camera-btn {
    position: fixed;
    z-index: 10;
    bottom: -12px;
    right: -12px;
    .icon {
      font-size: 44px;
      width: 80px;
      display: block;
      text-align: center;
      line-height: 80px;
      background: rgb(226, 114, 114);
      color: #fff;
      border-radius: 50%;
      z-index: 10;
    }
  }
}