.me-ctrl {
  .pane {
    padding-top: $bar-height;
    padding-bottom: 51px;
  }
  .profile-img {
    width: 100%;
    border-radius: 50%;
    border: 1px solid #ddd;
  }
  .list {
    background: #fff;
  }
}